{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid mt-2" >
    <img src="{% static 'photos/landing.jpg' %}"class="img-fluid" alt="landing" style="height:80vh; width:100%">
  <div class="container mt-5">
    <h3 class="text-center" style="color:#672666 ;">NEIGHBORHOODS</h3>
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"  style="background-color:#7A981C; color:white;">
  Create neighborhood
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Neighborhood Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <button type="submit" class="btn" style="background-color:#7A981C; color:white; margin-top: 20px;">Submit</button>

      </form>
      </div>
      
    </div>
  </div>
</div>
    <hr>
    {% if neighborhoods %}
    {% for neighborhood in neighborhoods %}

    <div class="d-flex align-items-center mt-5">
      <div class="flex-shrink-0">
        <img src="{{neighborhood.image.url}}" class="img-fluid" alt="image" style="height:50vh">
      </div>
      <div class="flex-grow-1 ms-3">
        <h3 style="color:#672666 ;">{{neighborhood.name}}</h3>
        <p>{{neighborhood.description}}</p>
        <a href="{% url 'join' neighborhood.id %}"><button type="button" class="btn" style="background-color:#7A981C; color:white;">Join hood</button></a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
   
    
</div>


{% endblock %}