{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="container-fluid">
    <img src="{% static 'photos/landing.jpg' %}" alt="landing" style="height:80vh; width:100%">
    <div class="mask">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white" style="background-color: rgba(0, 0, 0, 0.7); width:60vw;">
            <h1 class=" text-center mb-3">UJAMAA COMMUNITY CENTER</h1>
            <h5 class=" text-center mb-4">Where neighbors support each other</h5>
          </div>
        </div>
      </div>
  
</div>
{% endblock %}