{% extends 'base.html' %}

{% block content %}

<div class="container">
    {%if business %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {%for business in business %}
            <div class="card mb-3 mt-5">
                <div class="card-header bg">
                    {%if business.user.profile_photo%}
                    <img src="{{user.profile.profile_photo.url}}" class='rounded-circle border ml-3 mt-2' alt="" width="35" height="35">
                    {%else%}
                    <div></div>
                    {%endif%}
                    <div class="float-end"><a class='text-decoration-none text-dark' href="{%url 'business' business.id%}">See more</a></div>
                    <small class="text-bold">{{business.user.name}}</small>
                </div>
                <img src="{{business.image.url}}" class="main-img card-img-top" alt="Image">
            </div>
            {%endfor%}
        </div>
        <div class="col-md-2"></div>


    
    {%else%}
    <div class=" text-center  p-5" style="margin-bottom:450px">
        <h3>Sorry we have no results for your search!!</h3>
    </div>
    {%endif%}
</div>
</div>

{% endblock %}